MONGO_ROOT_USER=chatim
MONGO_ROOT_PASSWORD=change-me
MONGO_PORT=27117
MONGO_CACHE_GB=3
REDIS_PORT=6380
NATS_PORT=4223
NATS_MON_PORT=8223
PG_USER=chatim
PG_PASSWORD=change-me
PG_PORT=5433
PG_SHARED_BUFFERS=3GB
PG_EFFECTIVE_CACHE_SIZE=6GB
