MONGO_ROOT_USER=chatim
MONGO_ROOT_PASSWORD=change-me
MONGO_PORT=27117
MONGO_CACHE_GB=3
REDIS_PORT=6380
REDIS_PASSWORD=change-me
REDIS_DEDUPE_PORT=6381
REDIS_DEDUPE_PASSWORD=change-me
REDIS_DEDUPE_MAXMEMORY=512mb
NATS_PORT=4223
NATS_MON_PORT=8223
PG_USER=chatim
PG_PASSWORD=change-me
PG_PORT=5433
PG_SHARED_BUFFERS=3GB
PG_EFFECTIVE_CACHE_SIZE=6GB
CORE1_GRPC_PORT=9001
CORE2_GRPC_PORT=9002
